body
	margin: 0

#centered
	width: 1000px
	margin: 0 auto
	box-shadow: 0 0 4px gray
	margin-bottom: 4px

	header
		overflow: hidden
		padding: 0px
		color: black
		height: 190px
		background: url('/images/backhead.png')
	.logo
		width: 335px
		height: 100%
		float: left
		background: url('/images/logo.jpg')

		img
			float: left
			margin: 2px 2px 2px 0
			position: relative

		h1
			font-size: 16px
			width: 200px
			float: right
			padding: 100px 0 0 0
			color: #bb023b

	.telephone
		width: 400px
		float: right
		text-align: center
		padding-top: 50px
		img
			display: block
			margin: 0 auto
		span
			font-size: 32px
			color: #cc0099

	nav.menu
		width: 1000px
		height: 48px
		background: linear-gradient(to top, #5d00b3, #c100e7)
		padding: 0px
		border: 0px solid #333

		ul
			list-style: none
			float: left
			margin: 0, auto

			li
				float: left
				margin-right: 20px

				&:last-child
					margin: 0

				a
					color: white
					text-decoration: none
					font-weight: bold
					font-family: sans-serif

					&:hover
						color: #3d067e

		.right_order
			float: right
			img
				display: inline-block
				vertical-align: top
				margin: 5px

				&:first-child
					margin-top: 8px
			span
				display: inline-block
				font-size: 16px
				color: white
				vertical-align: top
				margin-top: 14px
				font-family: sans-serif
			p
				display: inline-block
				font-size: 12px
				color: white
				padding: 0 5px 0 0
				vertical-align: top
				margin-top: 14px
				font-family: sans-serif


	#content
		clear: both
		overflow: hidden
		
		.left_menu

		.middle
			width: 590px
			float: left
			margin: 10px 10px 10px 10px

		.social

			box-sizing: border-box	
			margin: 10px 0 0 10px
		
			span
				top: 10px
				color: black
				text-decoration: none
				font-family: sans-serif
				font-size: 18px

		.products
			box-sizing: border-box
			max-width: 610px
			float: left
			margin: 10px 0 10px 0
			text-align: center

			table
				tr
					td
						width: 180px
						float: left
						align: center 
						valign: middle
						min-height: 300px
						tr
							td

		.right_menu	
			box-sizing: border-box
			width: 20%
			height: 800px
			float: right
			padding: 10px 10px 0 0
			
			.selection
				box-sizing: border-box
				height: 300px
				background: #990099
				padding: 20px
				border-bottom: 2px solid #99003B
				border-radius: 10px
				span
					font-size: 16px
					top: 10px

			.search	
				margin: 10px 0 0 
				box-sizing: border-box
				width: 100%
				height: 100px
				background: #ff0099
				float: right
				padding: 20px
				border-bottom: 2px solid #A50070
				border-radius: 10px
				span
					font-size: 16px
					top: 10px

			.news	
				margin: 10px 0 0 0
				box-sizing: border-box
				width: 100%			
				height: 300px
				background: #cc0099
				float: right
				padding: 10px 10px 0 0
				border-bottom: 2px solid #A50070
				border-radius: 10px
				
				span
					display: block
					font-size: 16px
					top: 10px
					color: white
					border-bottom: 1px solid #ddd
					text-align: center
					
				ul
					list-style: none
					padding-left: 10px
					margin: 0

				li
					color: white
					text-decoration: none
					font-family: sans-serif
					font-size: 12px
					vertical-align: top	

					a	
						color: #89008b
						text-decoration: none
						font-family: sans-serif
						font-size: 13px
						vertical-align: top
						background: #feb5fe
			
			.accept
				margin: 10px 0 0 10px
				span
					top: 10px
					color: black
					text-decoration: none
					font-family: sans-serif
					font-size: 18px

footer

	clear: both
	padding: 20px
	margin-top: 20px
	color: gray
	background: white
	width: 1000px
	margin: 0 auto

	span
		float: left
	
	ul
		list-style: none
		li
			float: left
			margin-right: 10px