%table
  %tbody
    %tr
      %td Наименование
      %td Прайс
      %td Изображение     
      %td Подробнее
      %td       
      %td  
      - @products.each do |product|
        %tr
          %td= product.name
          %td= product.price
          %td= image_tag product.photo.url(:thumb)    
          %td
            = link_to 'Show', product
          %td         
          %td 

