<h1>Products</h1>
<table>

  <tbody>
      <tr>
        <td>Наименование       </td>
        <td>Прайс   </td>
        <td> Категория</td>
        <td> </td>
     
        <td> Подробнее</td>
        <td> </td>
        <td> </td>
      </tr>

      <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td>
        <% if product.category %>
        <%= product.category.title %>
        <% end %>
        </td>
        <td> </td>

        <td><%= link_to 'Show', product %> </td>
        <td> </td>
        <td> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
