<table>

  <tbody>
      <tr>
     <td>Наименование       </td>
        <td>Прайс   </td>
        <td> </td>
        <td> </td>
     
        <td> </td>
        <td> </td>
        <td> </td>
      </tr>
    
      <tr>
        <td><%= @product.name %></td>
        <td><%= @product.price %></td>
        <td> </td>
        <td> </td>

        <td> </td>
        <td> </td>
        <td> </td>
        
      </tr>

  </tbody>
</table>
<br>
<%= link_to 'Back', products_path %>
