%table
  %tbody
    %tr
    - @products.each do |product|
      %td= image_tag product.photo.url(:thumb)
      %td
        = @product.name
        = @product.price 
      %td     
      %td       
      %td      
      %td       
      %td    
      %tr
      %td
      %td
      %td  
      %td       
      %td       
      %td       
      %td 
= link_to 'Назад', products_path
